@use "./_variables.scss" as *;

@mixin button {
    margin: auto;
    background-color: $color-secondary;
    color: $color-white;
    line-height: 80px;
    padding: 26px 91px;
    font-weight: $font-weight_h1_h4;
    transition: 0.3s;
    text-transform: uppercase;
    font-size: $font-size-h4;

    @media (max-width: 1024px) {
        padding: 26px 63px;
    }

    @media (max-width: 450px) {
        padding: 26px 60px;
    }

    &:hover {
        background-color: rgba(231, 20, 20, 1);
    }

    &:active {
        box-shadow: 4px 4px 30px 0 rgba(255, 67, 67, 1);
        background-color: $color-secondary;
    }
}