// Цвета
$color-primary: #ff5733; // Основной цвет
$color-secondary: #FF4343; // Вторичный цвет
$color-background: #f5f5f5; // Цвет фона
$color-text: #333333; // Цвет текста
$color-border: #BABBC5; // Цвет границы
$color-logo: #656980;
$color-mask: rgba(37, 43, 73, 0.8);
$color-white: #ffff;
$color-desc: #6C7279;
$color-icons: #C6CBCD;
$color-dark_footer: #808080;
$color-dark: #000000;
$color-h3: #2D3033;



// Жирность
$font-weight_h1_h4: 900;
$font-weight_h2_h3_h6: 700;
$font-weight_h4_1: 500;
$font-weight_h5: 400;

// Размеры
$font-size-h1: 4rem; //64 (16)
$font-size-h2: 2.25rem; //36 (16)
$font-size-h3: 1.875rem; //30 (16)
$font-size-h4: 1.5rem; //24 (16)
$font-size-h5: 1.125rem; //18 (16)
$font-size-h6: 0.875rem; //14 (16)
$font-size-min_laptop: 1.16666667rem; //14 (12)

$border-radius: 5px; // Радиус границы
$spacing-small: 0.5rem; // Маленькие отступы
$spacing-medium: 1rem; // Средние отступы
$spacing-large: 2rem; // Большие отступы