@use "./_variables.scss" as *;
@use "./_mixins.scss" as *;

.download {
    padding: 120px 0 114px;
    background: $color-white;
    text-align: center;

    @media (max-width: 450px) {
        padding: 34px 0 45px;
    }
}

.download_title {
    font-weight: $font-weight_h4_1;
    font-size: $font-size-h3;
    max-width: 1170px;
    line-height: 35px;
    color: $color-dark;
    margin: 0 auto 22px;
}

.download_subtitle {
    max-width: 1170px;
    margin: 0 auto 47.7px;

    p {
        font-weight: $font-weight_h2_h3_h6;
        font-size: $font-size-h5;
        color: $color-dark;
        line-height: 21px;
        text-transform: uppercase;
    }
}

.download_button {
    @include button;
}